@import 'vendor/bootstrap.less';

body {
    .main-content {
        margin-top: 60px;
    }

    .login-dialog {
        margin: 40px auto 0;
        min-width: 300px;
        max-width: 400px;

        .login-content {
            margin: 15px;
        }
    }

    .navbar {
        #nav-login {
            line-height: 50px;
        }
    }
}
