@import 'vendor/bootstrap.less';

body {
    .main-content {
        margin-top: 60px;
    }

    .inner-content {
        margin: 20px 0px;
    }

    form {
        .reset-instructions {
            margin-bottom: 15px;
        }
    }

    .login-dialog {
        margin: 40px auto 0;
        min-width: 300px;
        max-width: 400px;

        .login-content {
            margin: 15px;

            .account-options {
                text-align: center;
            }

            .horizontal-divider {
                text-align: center;
                margin: 12px 0;

                .divider-word {
                    font-weight: bold;
                    font-size: 12px;
                }

                .divider {
                    border-bottom: 1px solid #777777;
                    width: 130px;
                    position: relative;
                    top: 10px;

                    &.left {
                        float: left;
                        margin-left: 35px;
                    }

                    &.right {
                        float: right;
                        margin-right: 35px;
                    }
                }
            }

            .oauth-collection {
                .text-center;

                margin-bottom: 20px;
            }
        }
    }

    .navbar {
        #nav-login {
            line-height: 50px;
        }
    }
}
