<div class="view">
    <div class="container">
	    <div class="col-sm-6 col-sm-offset-3 standard-container" style="margin-top: 60px;">
		    <div class="text-center bold">
			    <h3><span class="bold">Welcome to Element Zero Poker!</span></h3>
		    </div>
		    <div class="text-center">
			    Element Zero Poker provides an excellent, modern interface for poker playing online!
		    </div>
		    <div class="margin-top">
			    <span class="bold">Games Available</span>
			    <ul>
				    <li>Blackjack</li>
			    </ul>
		    </div>
		    <div>
			    <span class="bold">Games Comming Soon</span>
			    <ul>
				    <li>Five Card Draw</li>
				    <li>Texas Hold'em</li>
			    </ul>
		    </div>
		    <div>
			    <span class="bold">Features</span>
			    <ul>
				    <li>Multiplayer Games</li>
				    <li>Google Authentication</li>
			    </ul>
		    </div>
		    <div>
			    <span class="bold">Features Comming Soon</span>
			    <ul>
				    <li>2-factor Authentication</li>
				    <li>Private Tables</li>
				    <li>Game Invites</li>
				    <li>Player Profiles</li>
			    </ul>
		    </div>
		    <div class="text-center margin-top">
			    <a class="btn btn-success" href="#/blackjack">Start Playing Blackjack Today!</a>
		    </div>
	    </div>
    </div>
</div>