<div class="modal-header">
	<h3 class="modal-title">User Profile</h3>
</div>
<div class="modal-body">
	<form name="create-blackjack-table-form" novalidate>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="cashValue">Amount in Bank</label>
				<div id="cashValue">${{userInfo.cashValue}}</div>

				<label for="addCashValue">Amount To Add</label>
				<input id="addCashValue" type="text" name="addCashValue" class="form-control" data-ng-model="userInfo.addCashValue" required placeholder="Enter Amount" />

			</div>
			
		</div>
		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Ok</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>